<div class="content">
<h1>Productos</h1>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio | currency }}</td>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>
    </tbody>
  </table>

<h2>Vista 1</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Calle</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vista1 of vista1">
        <td>{{ vista1.nombre }}</td>
        <td>{{ vista1.calle}}</td>
        <td>{{ vista1.usuario }}</td>
        <td>{{ vista1.contrasena }}</td>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>
    </tbody>
  </table>
  <h2>Vista 2</h2>

  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Proveedor</th>
        <th>Categoria</th>
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vista2 of vista2">
        <td>{{ vista2.nombre_producto}}</td>
        <td>{{ vista2.nombre_proveedor}}</td>
        <td>{{ vista2.nombre_categoria }}</td>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>
    </tbody>
  </table>
  <h2>Vista 3</h2>


  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Calle</th>
        <th>Numero</th>
        <th>Localidad</th>
        <th>Municipio</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vista3 of vista3">
        <td>{{ vista3.nombre}}</td>
        <td>{{ vista3.apellido1}}</td>
        <td>{{ vista3.calle }}</td>
        <td>{{ vista3.numero }}</td>
        <td>{{ vista3.nombre_localidad }}</td>
        <td>{{ vista3.nombre_municipio }}</td>

      </tr>
    </tbody>
  </table>

  <h2>Cliente que son empleados</h2>


  <table>
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clienteempleados of clienteempleados">
        <td>{{ clienteempleados.nombre_completo}}</td>
      </tr>
    </tbody>
  </table>
  

  <h2>Total por categoria</h2>


  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Total</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let totalcategoria of totalcategoria">
        <td>{{ totalcategoria.categoria}}</td>
        <td>{{ totalcategoria.total_precio}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Total del precio de los productos</h2>
  <table>
    <thead>
      <tr>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let totalPrecioProductos of totalPrecioProductos">
        <td>{{ totalPrecioProductos.total_precios}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Consulta con rollup</h2>

  <table>
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Total</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rollup of rollup">
        <td>{{ rollup.nombre_categoria}}</td>
        <td>{{ rollup.total_precio}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Procedures y funciones</h2>
<div class="card1">
<div class="card">
    <p class="card__content">Totales de las categorias
    </p>
    <div class="card__form">
        <input  #categoriaInput placeholder="Categoria" type="text">
        <button class="sign-up" (click)=" proCatPrecio(categoriaInput.value)">Buscar</button>
    </div>
</div>
</div>


<table>
  <thead>
    <tr>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{ categoriaprec}}</td>
    </tr>
  </tbody>
</table>


<div class="card1">
  <div class="card">
      <p class="card__content"> Productos de las categorias
      </p>
      <div class="card__form">
          <input  #categoriaInput2 placeholder="Categoria" type="text">
          <button class="sign-up" (click)=" proCatProd(categoriaInput2.value)">Buscar</button>
      </div>
  </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoriaproducto of categoriaproducto">
        <td>{{ categoriaproducto.descripcion}}</td>
        <td>{{ categoriaproducto.nombre}}</td>
        <td>{{ categoriaproducto.precio}}</td>

      </tr>
    </tbody>
  </table>


  <div class="card1">
    <div class="card">
        <p class="card__content"> Tipo de descuento por producto
        </p>
        <div class="card__form">
            <input  #idprod placeholder="Categoria" type="text">
            <button class="sign-up" (click)=" descuentoProducto(idprod.value)">Buscar</button>
        </div>
    </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let descuentoProd of descuentoProd">
          <td>{{ descuentoProd.TipoDescuento}}</td>
        </tr>
      </tbody>
    </table>


  
  
</div>




