<section class="vh-100" style="background-color: transparent;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
          <div class="card shadow-2-strong" style="border-radius: 1rem; position: relative; overflow: hidden;">
            <div class="lights"></div>
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Sign in</h3>
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                  [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="Ingresa el Correo" required>
                <label class="form-label" for="typeEmailX-2">Email</label>
                <div *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
                  <p *ngIf="email.errors['required']">Email is required</p>
                  <p *ngIf="email.errors['email']">Invalid email address</p>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                  [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="Ingresa la contraseña" required>
                <label class="form-label" for="typePasswordX-2">Password</label>
                <div *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
                  <p *ngIf="password.errors['required']">Password is required</p>
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit"
                [disabled]="loginForm.invalid || isSpacePresent">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
