<form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" (input)="validateFields()" [ngClass]="{ 'is-invalid': emailHasSpaces }">
      <div *ngIf="emailHasSpaces" class="invalid-feedback">El email no puede contener espacios.</div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" [(ngModel)]="password" (input)="validateFields()" [ngClass]="{ 'is-invalid': passwordHasSpaces }">
      <div *ngIf="passwordHasSpaces" class="invalid-feedback">La contraseña no puede contener espacios.</div>
    </div>
    <button type="submit" class="btn btn-primary" [ngClass]="{ 'btn-disabled': emailHasSpaces || passwordHasSpaces }" [disabled]="emailHasSpaces || passwordHasSpaces">Signup</button>
  </form>
  