<body>
  <img
    src="https://media.revistagq.com/photos/62a315555172e1bf9dcd9239/16:9/w_4224,h_2376,c_limit/lennart-uecker-49bZDF_EgJU-unsplash.jpg"
    alt="" srcset="" autoplay loop muted plays-inline class="background-video">
  <header>
    <a href="#"><img src="" alt="logo" class="logo" /></a>

    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar">
      <a routerLink="/home" class="nav-item" style="--i: 0">Home</a>
      <a routerLink="/proveedores" class="nav-item" style="--i: 1">Proveedores</a>
      <a routerLink="/productos" class="nav-item" style="--i: 1">Productos</a>
      <a routerLink="/cliente" class="nav-item" style="--i: 1">Clientes</a>
      <a routerLink="/empleados" class="nav-item" style="--i: 1">Empleados</a>
      <a routerLink="/login" class="nav-item" style="--i: 2">login</a>
      <a routerLink="/mostrarproductos" class="nav-item" style="--i: 2">Productos</a>
    </nav>
  </header>

  <router-outlet></router-outlet>
</body>
