<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>ID Proveedor</th>
        <th>ID Categoría</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.id }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.id" placeholder="ID" disabled>
        </td>
  
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.descripcion }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.descripcion" placeholder="Descripción">
        </td>
  
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.nombre }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.nombre" placeholder="Nombre">
        </td>
  
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.precio }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.precio" placeholder="Precio">
        </td>
  
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.id_proveedor }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.id_proveedor" placeholder="ID Proveedor">
        </td>
  
        <td *ngIf="!isEditing || product.id !== editProductId">{{ product.id_categoria }}</td>
        <td *ngIf="isEditing && product.id === editProductId">
          <input [(ngModel)]="product.id_categoria" placeholder="ID Categoría">
        </td>
  
        <td>
          <button *ngIf="!isEditing" class="update" (click)="editProduct(product)">Editar</button>
          <button *ngIf="isEditing" class="update" (click)="saveProductEdits(product)">Guardar</button>
          <button *ngIf="isEditing" class="cancel" (click)="cancelEdit()">Cancelar</button>
          <button class="delete" (click)="deleteProduct(product.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>  
</body>


