<body>
    <form class="form" [formGroup]="ventasForm" (ngSubmit)="onSubmit()">
        <p class="title">Alta ventas</p>
        <div class="flex">

            <label for="total">
                <input type="text" id="total" formControlName="total" class="input" />
                <span>Costo Total:</span>
            </label>
            <div *ngIf="ventasForm.get('total')?.hasError('pattern')" class="error-message">
                Solo se permiten numeros.
            </div>
        </div>

        <label for="fecha">
            <input type="date" id="fecha" formControlName="fecha" class="input" />
            <span>Fecha: </span>
        </label>
        <div *ngIf="ventasForm.get('fecha')?.hasError('pattern')" class="error-message">
            Por favor, ingresa una fecha válida.
        </div>

        <label for="id_empleado">
            <input type="text" id="id_empleado" formControlName="id_empleado" class="input" />
            <span>ID Empleado: </span>
        </label>
        <div *ngIf="ventasForm.get('id_empleado')?.hasError('pattern')" class="error-message">
            Solo se permiten números.
        </div>

        <label for="id_proveedor">
            <input type="text" id="id_cliente" formControlName="id_cliente" class="input" />
            <span>ID Cliente: </span>
        </label>
        <div *ngIf="ventasForm.get('id_cliente')?.hasError('pattern')" class="error-message">
            Solo se permiten números.
        </div>

        <button type="submit" [disabled]="!ventasForm.valid" class="submit">Agregar</button>
    </form>
</body>