<body>
    <section id="intro">
      <div class="info">
        <h1>Jordan 1</h1>
        <p class="text-info">
            Las Air Jordan 1 fueron lanzadas por primera vez en 1985
             y fueron el primer modelo de zapatillas de la marca Jordan. 
            Revolucionaron la industria del calzado deportivo.
            El diseño de las Jordan 1 fue innovador en su época, 
            con colores llamativos y una combinación de materiales 
            de cuero y ante. La silueta de las zapatillas era única y se destacaba en la cancha.
        </p>
        <a href="#content" class="button explore">Explore</a>
      </div>
      <div class="split-beer">
        <img
          class="shoes" alt="img"
          src="https://d3ugyf2ht6aenh.cloudfront.net/stores/002/533/190/products/0073e467705e10649c248a6f411fcf651-3094255ab6b291596816826840055426-1024-1024.jpg" />
        <img
          class="shoes" alt="img"
          src="https://reviewed-com-res.cloudinary.com/image/fetch/s--M_iYml0Y--/b_white,c_fill,cs_srgb,f_auto,fl_progressive.strip_profile,g_auto,h_972,q_auto,w_972/https://reviewed-production.s3.amazonaws.com/1686778972972/nike-sneakers-hero.jpg" />
        </div>
    </section>

    <section id="content">
      <!-- Cards -->
      <div class="card">
        <img class="card-img"  alt="" src="https://media.gq.com.mx/photos/651efee22839c7c42926b3b9/1:1/w_1367,h_1367,c_limit/April_Skateboards_x_Nike_SB_Dunk_Low.jpg" />
        <div class="title">
          <h2>Dunk</h2>
        </div>
        <div class="more">
          <button class="modal-open" data-modal="modal1">
            more<ion-icon
              class="open-icon"
              name="open-outline"
              aria-hidden="true"></ion-icon>
          </button>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="https://i.ebayimg.com/images/g/mw4AAOSw-2JhvrjU/s-l1200.jpg" />
        <div class="title">
          <h2>Jordan 1</h2>
        </div>
        <div class="more">
          <button class="modal-open" data-modal="modal2">
            more<ion-icon
              class="open-icon"
              name="open-outline"
              aria-hidden="true"></ion-icon>
          </button>
        </div>
      </div>

      <div class="card">
        <img class="card-img" src="https://res.cloudinary.com/shelflife-online/image/upload/c_fill,f_auto,q_auto:best,w_1392/v1575961299/uploads/assets/0ea-02-Air-jordan-4-Retro-Blog-f18.jpg" />
        <div class="title">
          <h2>Jordan 4</h2>
        </div>
        <div class="more">
          <button class="modal-open" data-modal="modal3">
            more<ion-icon
              class="open-icon"
              name="open-outline"
              aria-hidden="true"></ion-icon>
          </button>
        </div>
      </div>
    <div class="card">
            <img class="card-img" src="https://gallerycdmx.com/cdn/shop/products/CapturadePantalla2022-06-16ala_s_12.22.38.png?v=1661463257" />
            <div class="title">
            <h2>Yeezy</h2>
            </div>
            <div class="more">
            <button class="modal-open" data-modal="modal4">
                more<ion-icon
                class="open-icon"
                name="open-outline"
                aria-hidden="true"></ion-icon>
            </button>
            </div>
        </div>

      <div class="card">
        <img class="card-img" src="https://sneakernews.com/wp-content/uploads/2023/08/nike-air-max-97-black-picante-red-anthracite-921826-018-1.jpg" />
        <div class="title">
          <h2> Air Max</h2>
        </div>
        <div class="more">
          <button class="modal-open" data-modal="modal5">
            more<ion-icon
              class="open-icon"
              name="open-outline"
              aria-hidden="true"></ion-icon>
          </button>
        </div>
      </div>

      

      <div class="card">
        <img class="card-img" src="https://media.sivasdescalzo.com/media/catalog/product/G/W/GW5021_sivasdescalzo-adidas-BAD_BUNNY_FORUM-1627561797-2.jpg?quality=70&auto=webp&fit=bounds&width=420" />
        <div class="title">
          <h2>Forum</h2>
        </div>
        <div class="more">
          <button class="modal-open" data-modal="modal6">
            more<ion-icon
              class="open-icon"
              name="open-outline"
              aria-hidden="true"></ion-icon>
          </button>
        </div>
      </div>

      <!------------------------------- Modals -------------------------->
      <div class="modal" id="modal1">
        <div class="modal-content">
          <div class="modal-header">
            texto <button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body modal-one">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/8970757c-5e57-43ee-9014-60640eaa2469" alt="" />
            <ul>
              <li>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>

      <div class="modal" id="modal2">
        <div class="modal-content">
          <div class="modal-header">
            texto <button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/98d23019-9931-4e20-a823-30724a018d9c" alt="" />
            <ul>
              <li>
              </li>
            
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>

      <div class="modal" id="modal3">
        <div class="modal-content">
          <div class="modal-header">
            texto<button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/58bdbc26-b73b-4066-99ba-cbbfb45214d6" alt="" />
            <ul>
              <li>
              </li>
           
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>

      <div class="modal" id="modal4">
        <div class="modal-content">
          <div class="modal-header">
            texto<button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/be357710-c460-45e8-a61e-2db9c45eb12b" alt="" />
            <ul>
              <li>
                
              </li>
            
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>

      <div class="modal" id="modal5">
        <div class="modal-content">
          <div class="modal-header">
            texto <button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e2f37f05-f3a7-45b9-83dc-1e1ab9212e43" alt="" />
            <ul>
              <li>
               
              </li>
             
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>

      <div class="modal" id="modal6">
        <div class="modal-content">
          <div class="modal-header">
            texto <button class="modal-close">
              <ion-icon class="close-icon" name="close-outline">Close</ion-icon>
            </button>
          </div>
          <div class="modal-body">
            <img src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/82bb545a-3d20-442c-9670-191105298b4b" alt="" />
            <ul>
              <li>
              </li>
             
            </ul>
          </div>
          <div class="modal-footer">
            <button class="button close-btn modal-close">Close</button>
          </div>
        </div>
      </div>
    </section>

    <footer>
    <p>
        Somos la mejor opción para tu calzado, ofreciendote los mejores sneakers con la mejor calidad y 100% originales.
      </p>
    </footer>
</body>